<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/55ea4909ec.js" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <title>Rent It</title>
    <link rel="stylesheet" href="../css/product.css">
</head>
<body>
    <!-- nav bar starts here -->
    <nav class="navbar">
        <div class="left">
            <!-- <img src="" alt="Logo"> -->
            <h1>Rent It</h1>
        </div>
        <div class="right">
            <ul class="nav">
                <li class="navItem"><a href="/">Home</a></li>
                <li class="navItem"><a href="/allProducts">Products</a></li>
                <li class="navItem"><a href="/about">About</a></li>
                <li class="navItem"><a href="/contact">Contact</a></li>
                <li class="navItem"><a href="/addProduct">Add Product</a></li>
                <li class="navItem"><a href="/myProfile">My Account</a></li>
                <!-- <li class="navItem"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li> -->

            </ul>
        </div>
    </nav>
    <!-- nav bar ends here -->

    <!-- product -->

    <div class="product">
        <div class="left">
            <div class="mainImage">
                <img src="/uploads/<%= product.productImages[0].productImage1 %>" alt="product image">
            </div>
            <div class="subImages">
                <div class="subImage">
                    <img src="/uploads/<%= product.productImages[0].productImage1 %>" alt="">
                </div>
                <div class="subImage">
                    <img src="/uploads/<%= product.productImages[0].productImage2 %>" alt="">
                </div>
                <div class="subImage">
                    <img src="/uploads/<%= product.productImages[0].productImage3 %>" alt="">
                </div>
                <div class="subImage">
                    <img src="/uploads/<%= product.productImages[0].productImage4 %>" alt="">
                </div>
            </div>
        </div>

        <div class="right">
            <p class="productName"><%= product.productName %></p>
            <p class="productPrice">₹<%= product.productPrice %> Per day.</p>

            <form method="post" action="/checkOut">
              <select name="days" id="days" class="select">
                  <option value="" default>Number of days?</option>
                  <option value="1">1 Day</option>
                  <option value="2">2 Days</option>
                  <option value="3">3 Days</option>
                  <option value="4">4 Days</option>
                  <option value="5">5 Days</option>
                  <option value="6">6 Days</option>
                  <option value="7">7 Days</option>
              </select>
              <!-- <a href="/checkOut/<%= product._id %>"><button class="addToCart" type="submit">Rent It!</button></a> -->
              <!-- <button class="addToCart" type="submit">Rent It!</button> -->
              <input type="text" value="<%= product._id %>" name="currentProduct" hidden>
              <input type="submit" value="Rent It!" class="addToCart">

            </form>

            

            <p class="descriptionTitle">Product Details</p>
            <p class="descriptionText"><%= product.productDescription %></p>
        </div>

    </div>

    <!-- product -->

    <!-- reviews -->
    <div class="slider">
        <h3 id="cus">Customer Reviews.</h3>
        <div class="slide  slide0">
          <div class="testimonial">
            <div class="testimonialText">
              <h4 class="testimonialHeader">Best Casio ever!</h4>
              <p>Lipsum dolor sit, amet consectetur adipisicing elit. Accusantium quas quisquam non? Quas voluptate nulla minima deleniti optio ullam nesciunt, numquam corporis et asperiores laboriosam sunt, praesentium suscipit blanditiis. Necessitatibus id alias reiciendis, perferendis facere pariatur dolore veniam autem esse non voluptatem saepe provident nihil molestiae.</p>
              <div class="testimonialAuthor">
                <img src="/images/img/people/user-1.jpg"/>
                <div class="lll">
                  <h6>Aarav Lynn</h6>
                  <p>San Francisco, USA</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="slide  slide1">
          <div class="testimonial">
            <div class="testimonialText">
              <h4 class="testimonialHeader">Works fantastic!!!</h4>
              <p>Quisquam itaque deserunt ullam, quia ea repellendus provident, ducimus neque ipsam modi voluptatibus doloremque, corrupti laborum. Incidunt numquam perferendis veritatis neque repellendus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo deserunt exercitationem deleniti.</p>
              <div class="testimonialAuthor">
                <img src="/images/img/people/user-2.jpg"/>
                <div class="lll">
                  <h6>Miyah Miles</h6>
                  <p>London, UK</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="slide  slide2">
          <div class="testimonial">
            <div class="testimonialText">
              <h4 class="testimonialHeader">Helped me a lot during my exam.</h4>
              <p>Debitis, nihil sit minus suscipit magni aperiam vel tenetur incidunt commodi architecto numquam omnis nulla autem, necessitatibus blanditiis modi similique quidem. Odio aliquam culpa dicta beatae quod maiores ipsa minus consequatur error sunt, deleniti saepe aliquid quos inventore sequi. Necessitatibus id alias reiciendis, perferendis facere.</p>
              <div class="testimonialAuthor">
                <img src="/images/img/people/user-3.jpg"/>
                <div class="lll">
                  <h6>Francisco Gomes</h6>
                  <p>Libson, Portugal</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
  
        <button class="arrows arrowLeft">&larr;</button>
        <button class="arrows arrowRight">&rarr;</button>
        <div class="dots">
          <button class="dot" data-slide="0"></button>
          <button class="dot" data-slide="1"></button>
          <button class="dot" data-slide="2"></button>
        </div>
      </div>

    <!-- reviews -->

    <%- include("partials/footer"); -%>


    <script type="text/javascript">
        //slider

const slides = document.querySelectorAll('.slide');

const righArrow = document.querySelector('.arrowRight');
const leftArrow = document.querySelector('.arrowLeft');

let currentSlide = 0;
const maxSlides = slides.length;

const gotoSlide = function(curSlide){
    slides.forEach((slide, index) => {
        slide.style.transform = `translateX(${200 * (index - curSlide)}%)`
    });
    // slides.forEach(s => s.classList.add('hidden'));
    // document.querySelector(`.slide${curSlide}`).classList.remove('hidden');
};

const activateDot = function(slide){
    document.querySelectorAll('.dot').forEach(dot => dot.classList.remove('dotActive'));

    document.querySelector(`.dot[data-slide="${slide}"]`).classList.add('dotActive');
};
activateDot(0);

const nextSlide = function(){
    if(currentSlide === maxSlides-1){
        currentSlide = 0;
    }
    else{
        currentSlide++;
    }
    gotoSlide(currentSlide);
    activateDot(currentSlide);
};
const prevSlide = function(){
    if(currentSlide === 0){
        currentSlide = maxSlides-1;
    }
    else{
        currentSlide--;
    }
    gotoSlide(currentSlide);
    activateDot(currentSlide);
};

gotoSlide(currentSlide);
righArrow.addEventListener('click', nextSlide);
leftArrow.addEventListener('click', prevSlide);
document.addEventListener('keydown', function(e){
    e.key === 'ArrowLeft' && prevSlide();
    e.key === 'ArrowRight' && nextSlide();
});

const dots = document.querySelector('.dots');
dots.addEventListener('click', function(e){
    if(e.target.classList.contains('dot')){
        const slide = e.target.dataset.slide;
        gotoSlide(slide);
        activateDot(slide);
    }
})

    </script>
</body>
</html>